/* mean_signlanguage.css */

.mean-signlanguage-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
  
}

.mean-signlanguage-image {
  flex: 1;
  max-width: 50%;
  padding: 10px;
}

.mean-signlanguage-image img {
  max-width: 100%;
  height: auto;
}

.mean-signlanguage-description {
  flex: 1;
  max-width: 50%;
  padding: 10px;
}

.mean-signlanguage-description h3 {
  font-size: 40px;
  margin-bottom: 10px;
}

.mean-signlanguage-description p {
  font-size: 22px;
  color: #555;
}

